body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    background-image: url(https://wallpapersmug.com/download/3840x2400/38d8ee/dubai-buildings-cityscape-night-8k.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.1);
    width: auto;
    padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 0.5);
    animation: glow 2s infinite alternate, zoomIn 0.5s ease-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#clock:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 1), 0 0 50px rgba(255, 255, 255, 0.8);
}

@keyframes glow {
    0% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
    }
    100% {
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.7), 0 0 50px rgba(255, 255, 255, 0.5);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
